*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEF3F9;
}
main{
    width: 50%;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    margin: 5% auto;
    padding: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
}
aside{
    flex: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
section{
    flex: 60%;
    height: 100%;
}
#img-info{
    flex: 50%;
}
img{
    width: 80%;
    height: 80%;
}
#space{
    flex: 50%;
}
.shipping{
    background-color: #1A1944;
    color: #fff;
    border-radius: 20px;
    padding: 5px;
}
h1{
    margin: 20px 0;
    margin-bottom: 0;
}
s{
    font-weight: 700;
}
#price{
    font-size: 2rem;
    font-weight: 900;
}
button{
    width: 75%;
    padding: 10px 0;
    background-color: #4787E9;
    box-shadow: 0 4px 6px 0px #1C57EF;
    border-style: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    color: #fff;
}
.fa-circle{
    color: #00DC8C;
    margin-top: 10px;
    margin-right: 5px;
}
footer{
    display: flex;
    width: 75%;
    justify-content: space-between;
}
#cart{
    width: 45%;
    border: 1px solid #E4E3E8;
    padding: 20px 10px;
}
#wishlist{
    width: 55%;
    border: 1px solid #E4E3E8;
    padding: 20px 10px;
}
span{
    margin-left: 10px;
}
#stock{
    margin: 15px 0;
}